body {
	font-family: Helvetica, Arial;
	font-size: 13px;
	color:#222;
}

#navbar {
	float:right;
	padding-right: 20px;
}

#navbar li {
	display:inline-block;
	padding: 10px;
	color:#7c7c7c;
	
}

#navbar li img {
	vertical-align:middle;
} 

#navbar a, #navbar a:visited, #navbar a:link {
	text-decoration:none;
	color:#7c7c7c;
}

#navbar a:hover {
	text-decoration:underline;
}

#logo {
	height:95px;
	width:269px;
	display:block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 150px;
	padding-bottom: 10px;
	clear:both;
}

#search {
	text-align:center;
}

.searchbar input {
	display:block;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
	width:600px;
	height: 25px;
	clear:both;
}

.searchbar button {
	font-weight: bold;
	text-align:middle;
	background-color: #f2f2f2;
	border-radius:2px;
	border: 1px #d2d2d2 solid;
	height: 30px;
	width: auto;
	margin: 8px;
}

#footer {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	height: 42px;
	background-color:#f2f2f2;
	border-top:1px solid #f2f2f2;
	display:block;
	clear:both;
}

.left {
	float:left;
}

.left li {
	padding-left:20px;
}

.right {
	float:right;
	padding-right: 25px;
}

.right li {
	padding-right: 20px;
}

#footer ul li {
	display: inline;
}